{% extends 'base.html' %}

{% block title%}
Posts
{% endblock title%}

{% block content%}

<div class="ui grid">
    <div class="row">
        {% if post_add %}
        <div class="ui green message">Posted</div>
        {% endif %}
        <form action="" method="POST" class="ui form" enctype="multipart/form-data">
            {% csrf_token %}
            {{p_form}}
            <button type='submit' class='ui button positive subbutton' name="submit_p_form">Add Product</button>
            <form>
    </div>
</div>



{% endblock content%}